#newnum {
  font-style: italic;
  color: white;
  font-size: x-large;
  padding: 35px;
}

body {
  background-color: black;
}

.jumbotron {
  color: white;
  background-color: black;
  
} 


.card {
  padding: 35px;
}

#newnum {
  display: none;
}